body{
	background-color:black;

}
li{
	background-color:black;}
form{
	width:500px;
	margin:0 auto;
}
.search { 
	padding:6px 15px 6px 30px;
	margin:3px; 
	background: url('./images/search.png') no-repeat 8px 6px; 
}

.rounded { 
	border-radius:15px; 
	-moz-border-radius:15px; 
	-webkit-border-radius:15px; 
}

input[type=text]{
	color:#bcbcbc;
}
.lighter, .light, .dark {
	width:95%;
	height:50px;
	padding:40px 25px;
}

.lighter{
	background: url('./images/lighter_grey.jpg');
}
.lighter input[type=text]{
	border:1px solid #d0d0d0;
	background-color:#fcfcfc;
}

#pTitle{
	color:white;
	align:center;
	font-size: 30px;
	font-family: "Courier New";
	font-style: bold;
	font-weight: 900;
}
#Name{
	color:white;
	font-weight: 600;

font-family: "Courier New";
}

#image{
	border-style: solid;
	border-width: 20px;
	border-color: #999999;

}
#des{
	background-color: #323232;
	color:#e5e5e5;
	font-family: "Courier New";
	font-weight: 600;
	height:200px;
	width:300px;
	align:center;
	margin-top: 30px;
	margin-bottom: 20px;
	display:inline;
	
}
div.table-title {
   display: block;
  margin-left:40px;
  max-width: 600px;
  padding:5px;
  width: 100%;
}

.table-title h3 {
   color: #fafafa;
   font-size: 27px;
   font-weight: 400;
   font-style:normal;
   font-family: "Roboto", helvetica, arial, sans-serif;
   text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
   text-transform:uppercase;
}
